<component name="ArtifactManager">
  <artifact type="exploded-war" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="BielRent" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: com.microsoft.sqlserver:mssql-jdbc:12.2.0.jre11" />
          <element id="library" level="project" name="Maven: com.zaxxer:HikariCP:5.0.1" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:2.0.0-alpha1" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf:3.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: ognl:ognl:3.3.4" />
          <element id="library" level="project" name="Maven: org.javassist:javassist:3.29.0-GA" />
          <element id="library" level="project" name="Maven: org.attoparser:attoparser:2.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.unbescape:unbescape:1.1.6.RELEASE" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/el-api.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/jasper.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/jsp-api.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/catalina.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/ecj-4.20.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/jasper-el.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/jaspic-api.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-api.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-jni.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/catalina-ha.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/servlet-api.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-dbcp.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-jdbc.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-util.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/catalina-ant.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/catalina-ssi.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-coyote.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/websocket-api.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-i18n-cs.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-i18n-de.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-i18n-es.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-i18n-fr.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-i18n-ja.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-i18n-ko.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-i18n-ru.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/annotations-api.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/catalina-tribes.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-util-scan.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-websocket.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-i18n-pt-BR.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/tomcat-i18n-zh-CN.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../tomcat/apache-tomcat-9.0.74/lib/catalina-storeconfig.jar" />
        </element>
      </element>
      <element id="dir-copy" path="$PROJECT_DIR$/src/main/webapp" />
    </root>
  </artifact>
</component>