<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${statusCode}"></title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="text-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 lead fs-1 text-center" th:text="${statusCode}">error</div>
            <hr class="fw-bold">
            <div class="col-12 lead fs-4 text-center" th:text="${errorInfo}">errorInfo</div>
        </div>
    </div>
</body>
</html>